[Unit]
Description=WMP-to-MQTT Bridge Service
After=network.target

[Service]
WorkingDirectory=/opt/wmp2mqtt
ExecStart=/usr/bin/node app.js --mqtt mqtt://localhost --discover
Restart=on-failure
User=openhab

[Install]
WantedBy=multi-user.target
